* {
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  width: 100vw;
  height: 100vh;
  background: #cfce8e;
  background: -webkit-linear-gradient(top left, #cfce8e, #d9c5b7);
  background: -moz-linear-gradient(top left, #cfce8e, #d9c5b7);
  background: linear-gradient(to bottom right, #cfce8e, #d9c5b7);
}

.app {
  width: 1000px;
  margin: 0 auto;
}

.app-header {
  text-align: center;
  padding: 30px;
}

.app-body {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.app-subtitle {
  color: gray;
}

.app-link {
  text-decoration: none;
  color: #02025c;
}

.battlefield {
  position: relative;
}

.battlefield-table {
  border-collapse: collapse;
  border-spacing: 0;
  background: white;
}

.battlefield-item {
  position: relative;
  width: 32px;
  height: 32px;
  border: 1px solid black;
}

.battlefield-item__active {
  background: rgba(123, 121, 255, 0.2);
}

.marker {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.battlefield-status {
  text-align: center;
  padding: 20px;
}

.marker-row {
  left: -35px;
}

.marker-column {
  top: -35px;
}

.ship {
  position: absolute;
  top: 0;
  left: 0;
  border: 3px solid #0400ff;
  background: rgba(0, 55, 255, 0.45);
  width: 27px;
  height: 27px;
}

.ship-row-2 {
  width: 61px;
}

.ship-row-3 {
  width: 94px;
}

.ship-row-4 {
  width: 127px;
}

.ship-column-2 {
  height: 61px;
}

.ship-column-3 {
  height: 94px;
}

.ship-column-4 {
  height: 127px;
}

.app-actions {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-top,
.menu-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.app-action {
  width: 210px;
  padding: 10px;
}

.shot {
  width: 32px;
  height: 32px;
  text-align: center;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
}

.shot-missed {
  color: 'black';
}

.shot-wounded {
  background: rgba(0, 55, 255, 0.45);
  z-index: 1;
}

.shot-wounded::after {
  content: ' ';
  width: calc(32px * 1.3);
  height: calc(32px * 1.3);
  border-top: 2px solid red;
  position: absolute;
  z-index: -1;
  transform: rotate(45deg);
  top: 9px;
  left: -20px;
}

.shot-wounded::before {
  content: ' ';
  width: calc(32px * 1.3);
  height: calc(32px * 1.3);
  border-top: 2px solid red;
  position: absolute;
  z-index: -1;
  transform: rotate(-45deg);
  top: 9px;
  left: 9px;
}

.shot-killed {
  margin: -3px;
  border: 2px solid red;
}

.hidden {
  display: none;
}
